---
import Header from "../components/Header.astro"
import "../styles/global.css"
import fetchFireBase from "../scripts/fetchFireBase.ts"
import HeroImage from "../assets/hero.gif"
import Slider from "../components/Slider.jsx"
import Filter from "../components/Filter.jsx"

const courses = await fetchFireBase("https://dialup-8ed75-default-rtdb.europe-west1.firebasedatabase.app/.json");
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>DialUp Courses</title>
	</head>
	<body>
		<Header/>
		<main class="h-auto w-full">
			<div class="w-full h-auto">
				<div class="w-full h-100 bg-gray-100 z-1 font-bold flex items-center justify-center" style={`background-image: url(${HeroImage.src})`}>
					<div class="w-full h-full z-2 flex items-center justify-center bg-stone-950/50">
						<p class="text-5xl text-white p-5 opacity-100">Explore the newest Web and IT courses</p>
					</div>
				</div>
			</div>
			<div class="w-full h-auto">
				<p class="text-4xl m-4 mx-10 font-bold">Cursos destacados</p>
				<Slider courses={courses} client:load/>
				<p class="mt-15 text-center text-4xl font-bold">Cursos</p>
				<div class="flex justify-end">
					<Filter courses={courses} client:load/>
				</div>
			</div>
		</main>
	</body>
</html>

